In [ ]:
'''
【课程2.14】  数值计算和统计基础

常用数学、统计方法
'''

In [9]:
#查看基本信息

import numpy as np
import pandas as pd 

df = pd.DataFrame({'key1':[4,5,3,np.nan,2],
                 'key2':[1,2,np.nan,4,5],
                 'key3':[1,2,3,'j','k']},
                 index = ['a','b','c','d','e'])    #np.nan代表空值
df.info()   #查看描述
df.describe()   #查看基础描述统计信息

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, a to e
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   key1    4 non-null      float64
 1   key2    4 non-null      float64
 2   key3    5 non-null      object
dtypes: float64(2), object(1)
memory usage: 160.0+ bytes

           key1      key2
count  4.000000  4.000000
mean   3.500000  3.000000
std    1.290994  1.825742
min    2.000000  1.000000
25%    2.750000  1.750000
50%    3.500000  3.000000
75%    4.250000  4.250000
max    5.000000  5.000000

In [8]:
# 基本参数 axis\skipna
print(df,'\n')
print(df['key1'].dtype,'\n')
print(df.mean(),'\n')  #默认axis=0,跨行down，按照列计算，默认跳过空值，
print(df.mean(axis=1),'\n') #axis=1,跨列across，按照行计算，默认跳过空值
print('可单独统计一列:',df['key2'].mean()) #可通过索引单独统计一列或者一行，或者多列多行
print(df.mean(axis=1,skipna=False),'\n') #skipna=False,则不跳过空值，则遇到空值计算结果为NaN

   key1  key2 key3
a   4.0   1.0    1
b   5.0   2.0    2
c   3.0   NaN    3
d   NaN   4.0    j
e   2.0   5.0    k

float64

key1    3.5
key2    3.0
dtype: float64

a    2.5
b    3.5
c    3.0
d    4.0
e    3.5
dtype: float64

可单独统计一列: 3.0
a    2.5
b    3.5
c    NaN
d    NaN
e    3.5
dtype: float64

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, a to e
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   key1    4 non-null      float64
 1   key2    4 non-null      float64
 2   key3    5 non-null      object
dtypes: float64(2), object(1)
memory usage: 160.0+ bytes

In [12]:
# 主要数学计算方法，可用于Series和DataFrame（1）
df = pd.DataFrame({'key1':np.arange(5),
                  'key2':np.random.rand(5)*10})
print(df)
print('-----')
print(df.count(),'→ count统计非Na值的数量\n')
print(df.min(),'→ min统计最小值\n',df['key2'].max(),'→ max统计最大值\n')
print(df.quantile(q=0.75),'→ quantile统计分位数，参数q确定位置\n')
print(df.sum(),'→ sum求和\n')
print(df.mean(),'→ mean求平均值\n')
print(df.median(),'→ median求算数中位数，50%分位数\n')
print(df.std(),'\n',df.var(),'→ std,var分别求标准差，方差\n')
print(df.skew(),'→ skew样本的偏度\n')
print(df.kurt(),'→ kurt样本的峰度\n')

   key1      key2
0     0  1.919390
1     1  9.543999
2     2  3.773362
3     3  3.278726
4     4  7.600340
-----
key1    5
key2    5
dtype: int64 → count统计非Na值的数量

key1    0.00000
key2    1.91939
dtype: float64 → min统计最小值
 9.543999315078628 → max统计最大值

key1    3.00000
key2    7.60034
Name: 0.75, dtype: float64 → quantile统计分位数，参数q确定位置

key1    10.000000
key2    26.115817
dtype: float64 → sum求和

key1    2.000000
key2    5.223163
dtype: float64 → mean求平均值

key1    2.000000
key2    3.773362
dtype: float64 → median求算数中位数，50%分位数

key1    1.581139
key2    3.206177
dtype: float64
 key1     2.500000
key2    10.279568
dtype: float64 → std,var分别求标准差，方差

key1    0.000000
key2    0.602309
dtype: float64 → skew样本的偏度

key1   -1.200000
key2   -1.868424
dtype: float64 → kurt样本的峰度

In [13]:
# 主要数学计算方法，可用于Series和DataFrame（2）
df['key1_s'] = df['key1'].cumsum()   #累加
df['key2_s'] = df['key2'].cumsum()   #累加
print(df,'→ cumsum样本的累计和\n')

df['key1_p'] = df['key1'].cumprod()  #累乘
df['key2_p'] = df['key2'].cumprod()  #累乘
print(df,'→ cumprod样本的累计积\n')
print(df.cummax(),'\n',df.cummin(),'→ cummax,cummin分别求累计最大值，累计最小值\n')
# 会填充key1，和key2的值

   key1      key2  key1_s     key2_s
0     0  1.919390       0   1.919390
1     1  9.543999       1  11.463389
2     2  3.773362       3  15.236751
3     3  3.278726       6  18.515477
4     4  7.600340      10  26.115817 → cumsum样本的累计和

   key1      key2  key1_s     key2_s  key1_p       key2_p
0     0  1.919390       0   1.919390       0     1.919390
1     1  9.543999       1  11.463389       0    18.318656
2     2  3.773362       3  15.236751       0    69.122912
3     3  3.278726       6  18.515477       0   226.635114
4     4  7.600340      10  26.115817       0  1722.503913 → cumprod样本的累计积

   key1      key2  key1_s     key2_s  key1_p       key2_p
0     0  1.919390       0   1.919390       0     1.919390
1     1  9.543999       1  11.463389       0    18.318656
2     2  9.543999       3  15.236751       0    69.122912
3     3  9.543999       6  18.515477       0   226.635114
4     4  9.543999      10  26.115817       0  1722.503913
    key1     key2  key1_s   key2_s  key1_p   key2_p
0     0  1.91939       0  1.91939       0  1.91939
1     0  1.91939       0  1.91939       0  1.91939
2     0  1.91939       0  1.91939       0  1.91939
3     0  1.91939       0  1.91939       0  1.91939
4     0  1.91939       0  1.91939       0  1.91939 → cummax,cummin分别求累计最大值，累计最小值

In [15]:
# 唯一值：.unique()
s = pd.Series(list('adasdfgg'))
sq = s.unique()   
print(s,'\n')
print(sq,type(sq),'\n')   #输出不重复的值为ndarray
print(pd.Series(sq),'\n')  # 通过pd.Series重新变成新的Series
sq.sort()   # 重新排序
print(sq,'\n')

0    a
1    d
2    a
3    s
4    d
5    f
6    g
7    g
dtype: object

['a' 'd' 's' 'f' 'g'] <class 'numpy.ndarray'>

0    a
1    d
2    s
3    f
4    g
dtype: object

['a' 'd' 'f' 'g' 's']

In [16]:
# 值计数：.value_counts()
sc = s.value_counts(sort = False)  # 也可以这样写：pd.value_counts(sc, sort = False)
print(sc)  # 得到一个新的Series，计算出不同值出现的频率,sort参数：排序，默认为True

d    2
s    1
a    2
f    1
g    2
dtype: int64

In [17]:
# 成员资格：.isin()
s = pd.Series(np.arange(10,15))
df = pd.DataFrame({'key1':list('asdcbvasd'),
                  'key2':np.arange(4,13)})
print(s,'\n')
print(df,'\n')
print(s.isin([5,14]),'\n')  # 用[]表示
print(df.isin(['a','bc','10',8]),'\n') # 得到一个布尔值的Series或者Dataframe

0    10
1    11
2    12
3    13
4    14
dtype: int64

  key1  key2
0    a     4
1    s     5
2    d     6
3    c     7
4    b     8
5    v     9
6    a    10
7    s    11
8    d    12

0    False
1    False
2    False
3    False
4     True
dtype: bool

    key1   key2
0   True  False
1  False  False
2  False  False
3  False  False
4  False   True
5  False  False
6   True  False
7  False  False
8  False  False

######## 本节课有作业，请查看 “课程作业.docx”  ########

In [ ]:
'''
【课程2.15】  文本数据

Pandas针对字符串配备的一套方法，使其易于对数组的每个元素进行操作
 
'''

In [11]:
# 通过str访问，且自动排除丢失/ NA值
s = pd.Series(['A','b','bbhello','123',np.nan,'hj'])
df = pd.DataFrame({'key1':list('bcdef'),
                  'key2':['hee','fv','hija','123',np.nan]})
print(s,'\n')
print(df,'\n')
print(s.str.count('b'),'\n')   #计算b这个字母一共出现多少个
print(df['key1'].str.upper(),'\n')  #全部变成大写
df.columns=df.columns.str.upper()   #columns大写
print(df,'\n')

0          A
1          b
2    bbhello
3        123
4        NaN
5         hj
dtype: object

  key1  key2
0    b   hee
1    c    fv
2    d  hija
3    e   123
4    f   NaN

0    0.0
1    1.0
2    2.0
3    0.0
4    NaN
5    0.0
dtype: float64

0    B
1    C
2    D
3    E
4    F
Name: key1, dtype: object

  KEY1  KEY2
0    b   hee
1    c    fv
2    d  hija
3    e   123
4    f   NaN

In [9]:
# 字符串常用方法（1） - lower，upper，len，startswith，endswith
s = pd.Series(['A','b','bbhello',np.nan])
print(s.str.lower(),'→ lower小写\n')
print(s.str.upper(),'→ upper大写\n')
print(s.str.len(),'→ len字符长度\n')
print(s.str.startswith('b'),'→ 判断起始是否为a\n')
print(s.str.endswith('3'),'→ 判断结束是否为3\n')

0          a
1          b
2    bbhello
3        NaN
dtype: object → lower小写

0          A
1          B
2    BBHELLO
3        NaN
dtype: object → upper大写

0    1.0
1    1.0
2    7.0
3    NaN
dtype: float64 → len字符长度

0    False
1     True
2     True
3      NaN
dtype: object → 判断起始是否为a

0    False
1    False
2    False
3      NaN
dtype: object → 判断结束是否为3

In [14]:
# 字符串常用方法（2） - strip

s = pd.Series([' jack', 'jill ', ' jesse ', 'frank'])
df = pd.DataFrame(np.random.randn(3, 2), columns=[' Column A ', ' Column B '],
                  index=range(3))
print(s,'\n')
print(df,'\n')
print(s.str.strip().values,'\n')  # 去除字符串中的空格
print(s.str.lstrip(),'\n')  # 去除字符串中的左空格
print(s.str.rstrip(),'\n')  # 去除字符串中的右空格
df.columns = df.columns.str.strip()  # 这里去掉了columns的前后空格，但没有去掉中间空格
print(df)

0       jack
1      jill
2     jesse
3      frank
dtype: object

    Column A    Column B
0    1.095120    1.359854
1   -1.263509    0.570996
2    0.701695   -1.105228

['jack' 'jill' 'jesse' 'frank']

0      jack
1     jill
2    jesse
3     frank
dtype: object

0      jack
1      jill
2     jesse
3     frank
dtype: object

   Column A  Column B
0  1.095120  1.359854
1 -1.263509  0.570996
2  0.701695 -1.105228

In [10]:
# 字符串常用方法（3） - replace
df = pd.DataFrame(np.random.randn(3, 2), columns=[' Column A ', ' Column B '],
                  index=range(3))
df.columns = df.columns.str.replace(' ','-') #替换所有的空格
print(df)  
df.columns = df.columns.str.replace('-','hehe',n=1)  #替换第一个空格
print(df)

   -Column-A-  -Column-B-
0    1.855227   -0.519479
1   -0.400376   -0.421383
2   -0.293797   -0.432481
   heheColumn-A-  heheColumn-B-
0       1.855227      -0.519479
1      -0.400376      -0.421383
2      -0.293797      -0.432481

In [36]:
# 字符串常用方法（4） - split、rsplit
s = pd.Series(['a,b,c','1,2,3',['a,,,c'],np.nan])
print(s.str.split(','),'\n')  # 针对所有字符串元素split
print(s.str.split(',')[0],'\n')  # 直接索引得到一个list，再次索引即可提取到元素
# 可以使用get或[]符号访问拆分列表中的元素
print(s.str.split(',').str[0],'\n')  #转化成字符串并取字符串第一个字符，生成series
print(s.str.split(',').str.get(0),'\n')  #转化成字符串，.get(1)取字符串中第1个字符，生成series
print('*'*60)
# 可以使用expand分出扩展列以返回DataFrame
print(s.str.split(',', expand=True))     #
print(s.str.split(',', expand=True, n = 1))   # n参数限制分割数，1即代表分出1个新列
print(s.str.rsplit(',', expand=True, n = 1))   # rsplit类似于split，反向工作，即从字符串的末尾到字符串的开头
print('*'*60)
df = pd.DataFrame({'key1':['a,b,c','1,2,3',[':,., ']],
                  'key2':['a-b-c','1-2-3',[':-.- ']]})
print(df['key2'].str.split('-',expand=True,n=2))
# Dataframe使用split

0    [a, b, c]
1    [1, 2, 3]
2          NaN
3          NaN
dtype: object

['a', 'b', 'c']

0      a
1      1
2    NaN
3    NaN
dtype: object

0      a
1      1
2    NaN
3    NaN
dtype: object

************************************************************
     0    1    2
0    a    b    c
1    1    2    3
2  NaN  NaN  NaN
3  NaN  NaN  NaN
     0    1
0    a  b,c
1    1  2,3
2  NaN  NaN
3  NaN  NaN
     0    1
0  a,b    c
1  1,2    3
2  NaN  NaN
3  NaN  NaN
************************************************************
     0    1    2
0    a    b    c
1    1    2    3
2  NaN  NaN  NaN

In [37]:
# 字符串索引
s = pd.Series(['A','b','C','bbhello','123',np.nan,'hj'])
df = pd.DataFrame({'key1':list('abcdef'),
                  'key2':['hee','fv','w','hija','123',np.nan]})
print(s.str[0],'\n')   # 取该列第一个字符
print(s.str[:2],'\n')  # 取该列前两个字符
print(df['key2'].str[0],'\n')  # 取key2列前两个字符
# str和字符串本身索引方式相同

0      A
1      b
2      C
3      b
4      1
5    NaN
6      h
dtype: object

0      A
1      b
2      C
3     bb
4     12
5    NaN
6     hj
dtype: object

0      h
1      f
2      w
3      h
4      1
5    NaN
Name: key2, dtype: object

######## 本节课有作业，请查看 “课程作业.docx”  ########

In [ ]:
'''
【课程2.16】  合并 merge、join

Pandas具有全功能的，高性能内存中连接操作，与SQL等关系数据库非常相似

pd.merge(left, right, how='inner', on=None, left_on=None, right_on=None,
         left_index=False, right_index=False, sort=True,
         suffixes=('_x', '_y'), copy=True, indicator=False)
 
'''

In [41]:
# merge合并 → 类似excel的vlookup
#pd.merge(left,right,how= 'inner',on=None,left_on=None,right_on=None,copy: bool = True，suffixes=）
df1 = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
df2 = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']})
df3 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                    'key2': ['K0', 'K1', 'K0', 'K1'],
                    'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3']})
df4 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                    'key2': ['K0', 'K0', 'K0', 'K0'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']})
print(pd.merge(df1, df2, on='key'))   # on：参考键
print('-'*60)
print(pd.merge(df3, df4, on=['key1','key2']))  # 多个链接键，多个键同时满足的时候连接

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3
------------------------------------------------------------
  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

In [43]:
# 参数how → 合并方式
print(pd.merge(df3, df4,on=['key1','key2'], how = 'inner'))  # inner：默认，取交集
print('-'*60)
print(pd.merge(df3, df4, on=['key1','key2'], how = 'outer'))   # outer：取并集，数据缺失范围NaN
print('-'*60)
print(pd.merge(df3, df4, on=['key1','key2'], how = 'left'))   # left：按照df3为参考合并，数据缺失范围NaN
print('-'*60)
print(pd.merge(df3, df4, on=['key1','key2'], how = 'right'))   # right：按照df4为参考合并，数据缺失范围NaN

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2
------------------------------------------------------------
  key1 key2    A    B    C    D
0   K0   K0   A0   B0   C0   D0
1   K0   K1   A1   B1  NaN  NaN
2   K1   K0   A2   B2   C1   D1
3   K1   K0   A2   B2   C2   D2
4   K2   K1   A3   B3  NaN  NaN
5   K2   K0  NaN  NaN   C3   D3
------------------------------------------------------------
  key1 key2   A   B    C    D
0   K0   K0  A0  B0   C0   D0
1   K0   K1  A1  B1  NaN  NaN
2   K1   K0  A2  B2   C1   D1
3   K1   K0  A2  B2   C2   D2
4   K2   K1  A3  B3  NaN  NaN
------------------------------------------------------------
  key1 key2    A    B   C   D
0   K0   K0   A0   B0  C0  D0
1   K1   K0   A2   B2  C1  D1
2   K1   K0   A2   B2  C2  D2
3   K2   K0  NaN  NaN  C3  D3

In [47]:
# 参数 left_on, right_on, left_index, right_index → 当键不为一个列时，可以单独设置左键与右键
df1 = pd.DataFrame({'lkey':list('bbaca'),
                   'data1':range(5)})
df2 = pd.DataFrame({'rkey':list('abd'),
                   'date2':range(3)})
print(pd.merge(df1, df2, left_on='lkey', right_on='rkey'))  # df1以‘lkey’为键，df2以‘rkey’为键
print('-'*60)

df1 = pd.DataFrame({'key':list('abcdfe'),
                   'data1':range(6)})
df2 = pd.DataFrame({'date2':range(100,104)},
                  index = list('abcd'))
print(df1,'\n')
print(df2,'\n')
# left_index=True则左边的df以index为键，right_index同理
print(pd.merge(df1, df2, left_on='key', right_index=True)) # df1以‘key’为键，df2以index为键
# left_on, right_on, left_index, right_index可以相互组合

  lkey  data1 rkey  date2
0    b      0    b      1
1    b      1    b      1
2    a      2    a      0
3    a      4    a      0
------------------------------------------------------------
  key  data1
0   a      0
1   b      1
2   c      2
3   d      3
4   f      4
5   e      5

   date2
a    100
b    101
c    102
d    103

  key  data1  date2
0   a      0    100
1   b      1    101
2   c      2    102
3   d      3    103

In [16]:
# 参数 sort
df1 = pd.DataFrame({'key':list('bbacaab'),
                   'data1':[1,3,2,4,5,9,7]})
df2 = pd.DataFrame({'key':list('abd'),
                   'date2':[11,2,33]})
x1 = pd.merge(df1,df2, on = 'key', how = 'outer')
x2 = pd.merge(df1,df2, on = 'key', sort=True, how = 'outer')
print(x1)
print(x2) # sort：按照字典顺序通过 连接键 对结果DataFrame进行排序。默认为False，设置为False会大幅提高性能
print('-'*60) 
print(x2.sort_values('data1')) # 也可直接用Dataframe的排序方法：sort_values，sort_index

   data1 key  date2
0    1.0   b    2.0
1    3.0   b    2.0
2    7.0   b    2.0
3    2.0   a   11.0
4    5.0   a   11.0
5    9.0   a   11.0
6    4.0   c    NaN
7    NaN   d   33.0
   data1 key  date2
0    2.0   a   11.0
1    5.0   a   11.0
2    9.0   a   11.0
3    1.0   b    2.0
4    3.0   b    2.0
5    7.0   b    2.0
6    4.0   c    NaN
7    NaN   d   33.0
------
   data1 key  date2
3    1.0   b    2.0
0    2.0   a   11.0
4    3.0   b    2.0
6    4.0   c    NaN
1    5.0   a   11.0
5    7.0   b    2.0
2    9.0   a   11.0
7    NaN   d   33.0

In [51]:
# 参数 suffixes=('', '') 连接列分别保留并重命名
df1 = pd.DataFrame({'key':list('bbacaab'),
                   'data1':[1,3,2,4,5,9,7]})
df2 = pd.DataFrame({'key':list('abd'),
                   'date2':[11,2,33]})
print(df1,'\n')
print(df2,'\n')
print(pd.merge(df1, df2, left_index=True, right_index=True, suffixes=('_1', '_2')),'\n')  #suffixes，相同键位区分
print(df1.join(df2['date2']),'\n')
print('-'*60)
# suffixes=('_x', '_y')默认

  key  data1
0   b      1
1   b      3
2   a      2
3   c      4
4   a      5
5   a      9
6   b      7

  key  date2
0   a     11
1   b      2
2   d     33

  key_1  data1 key_2  date2
0     b      1     a     11
1     b      3     b      2
2     a      2     d     33

  key  data1  date2
0   b      1   11.0
1   b      3    2.0
2   a      2   33.0
3   c      4    NaN
4   a      5    NaN
5   a      9    NaN
6   b      7    NaN

-----

In [50]:
# pd.join() → 直接通过索引链接
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                    index=['K0', 'K1', 'K2'])
right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                      'D': ['D0', 'D2', 'D3']},
                     index=['K0', 'K2', 'K3'])
print(left.join(right),'\n')  #默认how=left
print(left.join(right, how='outer'),'\n')   # 等价于：pd.merge(left, right, left_index=True, right_index=True, how='outer')
print('-'*60)


left = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3'],
                     'key': ['K0', 'K1', 'K0', 'K1']})
right = pd.DataFrame({'C': ['C0', 'C1'],
                      'D': ['D0', 'D1']},
                     index=['K0', 'K1'])
print(left)
print(right)
print(left.join(right, on = 'key')) # left的‘key’和right的index连接
# 等价于pd.merge(left, right, left_on='key', right_index=True, how='left', sort=False);

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3

------------------------------------------------------------
  key  data1
0   b      1
1   b      3
2   a      2
3   c      4
4   a      5
5   a      9
6   b      7

  key  date2
0   a     11
1   b      2
2   d     33

  key_1  data1 key_2  date2
0     b      1     a     11
1     b      3     b      2
2     a      2     d     33

  key  data1  date2
0   b      1   11.0
1   b      3    2.0
2   a      2   33.0
3   c      4    NaN
4   a      5    NaN
5   a      9    NaN
6   b      7    NaN

-----
    A   B key
0  A0  B0  K0
1  A1  B1  K1
2  A2  B2  K0
3  A3  B3  K1
     C   D
K0  C0  D0
K1  C1  D1
    A   B key   C   D
0  A0  B0  K0  C0  D0
1  A1  B1  K1  C1  D1
2  A2  B2  K0  C0  D0
3  A3  B3  K1  C1  D1

######## 本节课有作业，请查看 “课程作业.docx”  ########

In [ ]:
'''
【课程2.17】  连接与修补 concat、combine_first
连接 - 沿轴执行连接操作
pd.concat(objs, axis=0, join='outer', join_axes=None, ignore_index=False,
          keys=None, levels=None, names=None, verify_integrity=False,
          copy=True)
 
'''

In [56]:
# 连接：concat  表之间的堆叠
#concat(axis=0,join='outer',ignore_index: bool = False,keys=None,sort: bool = False,copy: bool = True)
s1 = pd.Series([1,2,3])
s2 = pd.Series([2,3,4])
s3 = pd.Series([1,2,3],index = ['a','c','h'])
s4 = pd.Series([2,3,4],index = ['b','e','d'])
print(pd.concat([s1,s2]),'\n')   #直接连接两个Series，# 默认axis=0，行+行
print(pd.concat([s3,s4]).sort_index(),'\n') #直接连接两个Series并重新排序index
print('-'*60)
# axis=1,列+列，成为一个Dataframe
print(pd.concat([s3,s4], axis=1),'\n')

0    1
1    2
2    3
0    2
1    3
2    4
dtype: int64

a    1
b    2
c    2
d    4
e    3
h    3
dtype: int64

------------------------------------------------------------
     0    1
a  1.0  NaN
c  2.0  NaN
h  3.0  NaN
b  NaN  2.0
e  NaN  3.0
d  NaN  4.0

In [67]:
# 连接方式：join，join_axes
s5 = pd.Series([1,2,3],index = ['a','b','c'])
s6 = pd.Series([2,3,4],index = ['b','c','d'])
print(pd.concat([s5,s6], axis= 1))  #列堆叠成DF
print(pd.concat([s5,s6], axis= 1, join='inner'))  #取交集
#print(pd.concat([s5,s6], axis= 1, join_axis=[['a','b','d']]))   #只取指定的index

     0    1
a  1.0  NaN
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0
   0  1
b  2  2
c  3  3

In [74]:
# keys：序列，默认值无。使用传递的键作为最外层构建层次索引
sre = pd.concat([s5,s6], keys = ['one','two'])  
print(sre,type(sre),'\n')
print(sre.index,'\n')
print('-'*60)
# axis = 1, 覆盖列名
sre = pd.concat([s5,s6], axis=1, keys = ['one','two'])  #axis=1的情形生成dataframe，则keys成为columns
print(sre,type(sre))

one  a    1
     b    2
     c    3
two  b    2
     c    3
     d    4
dtype: int64 <class 'pandas.core.series.Series'>

MultiIndex([('one', 'a'),
            ('one', 'b'),
            ('one', 'c'),
            ('two', 'b'),
            ('two', 'c'),
            ('two', 'd')],
           )

------------------------------------------------------------
   one  two
a  1.0  NaN
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0 <class 'pandas.core.frame.DataFrame'>

In [82]:
# 修补 pd.combine_first()
df1 = pd.DataFrame([[np.nan, 3., 5.], [-4.6, np.nan, np.nan],[np.nan, 7., np.nan]])
df2 = pd.DataFrame([[-42.6, np.nan, -8.2], [-5., 1.6, 4]],index=['a', 2]) 
print(df1,'\n')
print(df2,'\n')
print(df2.combine_first(df1),'\n')  # 根据index，df1的空值被df2替代,如果df2的index多于df1，则更新到df1上
# update，直接df2覆盖df1相同index位置数据
print('*'*60)
df1.update(df2)
print(df1)

     0    1    2
0  NaN  3.0  5.0
1 -4.6  NaN  NaN
2  NaN  7.0  NaN

      0    1    2
a -42.6  NaN -8.2
2  -5.0  1.6  4.0

      0    1    2
0   NaN  3.0  5.0
1  -4.6  NaN  NaN
2  -5.0  1.6  4.0
a -42.6  NaN -8.2

************************************************************
     0    1    2
0  NaN  3.0  5.0
1 -4.6  NaN  NaN
2 -5.0  1.6  4.0

######## 本节课有作业，请查看 “课程作业.docx”  ########

In [ ]:
'''
【课程2.18】  去重及替换
.duplicated / .replace

'''

In [88]:
# 去重 .duplicated
s = pd.Series([1,1,2,2,3,4])
print(s.duplicated(),'\n')   #判断是否是重复值，生成Bool Series
print(s[s.duplicated() == False],'\n')  #使用Bool Series做索引，得到不重复的值
print(s[s.duplicated()],'\n')  #使用Bool Series做索引，得到重复的值
print('-'*60)
s_re = s.drop_duplicates(inplace=False)  # drop.duplicates移除重复,inplace参数：是否替换原值，默认False
print(s_re)
print('-'*60)
# Dataframe中使用duplicated
df = pd.DataFrame({'key1':['a','a',3,4,5],
                  'key2':['a','a','b','b','c']})
print(df.duplicated())
print(df['key2'].duplicated())

0    False
1     True
2    False
3     True
4    False
5    False
dtype: bool

0    1
2    2
4    3
5    4
dtype: int64

1    1
3    2
dtype: int64

------------------------------------------------------------
0    1
2    2
4    3
5    4
dtype: int64
------------------------------------------------------------
0    False
1     True
2    False
3    False
4    False
dtype: bool
0    False
1     True
2    False
3     True
4    False
Name: key2, dtype: bool

In [90]:
# 替换 .replace
s = pd.Series(list('ascaazsd'))
print(s.replace('a', np.nan))  # 可一次性替换一个值或多个值
print(s.replace(['c','s'] ,np.nan)) #可传入列表,即列表中
print(s.replace({'a':'hello world!','s':123})) # 可传入字典替换

0    NaN
1      s
2      c
3    NaN
4    NaN
5      z
6      s
7      d
dtype: object
0      a
1    NaN
2    NaN
3      a
4      a
5      z
6    NaN
7      d
dtype: object
0    hello world!
1             123
2               c
3    hello world!
4    hello world!
5               z
6             123
7               d
dtype: object

In [ ]:
'''
【课程2.19】  数据分组

分组统计 - groupby功能

① 根据某些条件将数据拆分成组
② 对每个组独立应用函数
③ 将结果合并到一个数据结构中
Dataframe在行（axis=0）或列（axis=1）上进行分组，将一个函数应用到各个分组并产生一个新值，然后函数执行结果被合并到最终的结果对象中。

df.groupby(by=None, axis=0, level=None, as_index=True, sort=True, group_keys=True, squeeze=False, **kwargs)
 
'''

In [140]:
# 分组df.groupby()
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar','foo',],
                   'B' : ['one', 'one', 'two', 'three', 'two'],
                   'C' : np.random.randn(5),
                   'D' : np.random.randn(5)}) 
print(df,'\n')
print(df.groupby('A'), type(df.groupby('A')),'\n')  # 直接分组得到一个groupby对象
print(df.groupby('A').mean())   #按照A列分组求平均值，,默认axis = 0以行来分组
print( df.groupby(['A','B']).mean()) # 多列分组
print(df.groupby(['A'])['D'].mean())  # 以A分组在做切片，求D的平均值

     A      B         C         D
0  foo    one  0.110186 -0.717578
1  bar    one -0.838475  0.110513
2  foo    two  2.361414 -1.279300
3  bar  three  1.358628  1.127523
4  foo    two  0.359639 -2.175506

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x116d6bed0> <class 'pandas.core.groupby.generic.DataFrameGroupBy'>

            C         D
A
bar  0.260077  0.619018
foo  0.943747 -1.390795
                  C         D
A   B
bar one   -0.838475  0.110513
    three  1.358628  1.127523
foo one    0.110186 -0.717578
    two    1.360527 -1.727403
A
bar    0.619018
foo   -1.390795
Name: D, dtype: float64

In [146]:
# 分组 - 可迭代对象
df = pd.DataFrame({'X' : ['A', 'B', 'A', 'B'], 'Y' : [1, 4, 3, 2]})
print(df)
print(df.groupby('X'), type(df.groupby('X')))
print('-'*60)
print(list(df.groupby('X')), '→ 可迭代对象，直接生成list\n')
print(list(df.groupby('X'))[0], '→ 以元祖形式显示\n')    # 结果组名和分组后的Dataframe
for n,g in df.groupby('X'):   
    print(n)
    print(g,type(g))             # n是组名，g是分组后的Dataframe 
    print('###')
print('-'*60)
# .get_group()提取分组后的组
print(df.groupby(['X']).get_group('A'),'\n')
print(df.groupby(['X']).get_group('B'),'\n')
print('-'*60)

   X  Y
0  A  1
1  B  4
2  A  3
3  B  2
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x1180ae910> <class 'pandas.core.groupby.generic.DataFrameGroupBy'>
------------------------------------------------------------
[('A',    X  Y
0  A  1
2  A  3), ('B',    X  Y
1  B  4
3  B  2)] → 可迭代对象，直接生成list

('A',    X  Y
0  A  1
2  A  3) → 以元祖形式显示

A
   X  Y
0  A  1
2  A  3 <class 'pandas.core.frame.DataFrame'>
###
B
   X  Y
1  B  4
3  B  2 <class 'pandas.core.frame.DataFrame'>
###
------------------------------------------------------------
   X  Y
0  A  1
2  A  3

   X  Y
1  B  4
3  B  2

------------------------------------------------------------

In [147]:
# .groups：将分组后的groups转为dict
grouped = df.groupby(['X'])
print(grouped.groups)
print(grouped.groups['A'])  # 也可写：df.groupby('X').groups['A'],可以字典索引方法来查看groups里的元素
print('-'*60)
# .size()：查看分组后的长度
sz = grouped.size()
print(sz,type(sz))
print('-'*60)
# 按照两个列进行分组
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar','foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
grouped = df.groupby(['A','B']).groups
print(df)
print(grouped)
print(grouped[('foo', 'three')])

{'A': Int64Index([0, 2], dtype='int64'), 'B': Int64Index([1, 3], dtype='int64')}
Int64Index([0, 2], dtype='int64')
------------------------------------------------------------
X
A    2
B    2
dtype: int64 <class 'pandas.core.series.Series'>
------------------------------------------------------------
     A      B         C         D
0  foo    one -0.733363  0.121371
1  bar    one  0.312232 -0.029490
2  foo    two  1.060907  0.246771
3  bar  three  0.323053  1.142313
4  foo    two -1.913239  0.043319
5  bar    two  0.863411  0.186812
6  foo    one  0.017590 -0.827242
7  foo  three -0.351380 -0.463039
{('bar', 'one'): Int64Index([1], dtype='int64'), ('bar', 'three'): Int64Index([3], dtype='int64'), ('bar', 'two'): Int64Index([5], dtype='int64'), ('foo', 'one'): Int64Index([0, 6], dtype='int64'), ('foo', 'three'): Int64Index([7], dtype='int64'), ('foo', 'two'): Int64Index([2, 4], dtype='int64')}
Int64Index([7], dtype='int64')

In [149]:
# 其他轴上的分组,按照类型
df = pd.DataFrame({'data1':np.random.rand(2),
                  'data2':np.random.rand(2),
                  'key1':['a','b'],
                  'key2':['one','two']})
print(df)
print(df.dtypes)
print('-'*60)
for n,p in df.groupby(df.dtypes,axis=1):  # 按照值类型分列
    print(n)
    print(p)
    print('##')

      data1     data2 key1 key2
0  0.300461  0.154790    a  one
1  0.728558  0.224897    b  two
data1    float64
data2    float64
key1      object
key2      object
dtype: object
------------------------------------------------------------
float64
      data1     data2
0  0.300461  0.154790
1  0.728558  0.224897
##
object
  key1 key2
0    a  one
1    b  two
##

In [159]:
# 通过字典或者Series实现自定义分组
df = pd.DataFrame(np.arange(16).reshape(4,4),
                  columns = ['a','b','c','d'])
print(df)
print('-'*60)
mapping = {'a':'one','b':'one','c':'two','d':'two','e':'three'}  # mapping中，a、b列对应的为one，c、d列对应的为two，以字典来分组
by_column = df.groupby(mapping, axis = 1)  #按照mapping分组,默认axis = 0为按行分组，axis = 1按列分组
print(by_column.sum())
print('-'*60)
s = pd.Series(mapping)  #将字典转化为Series
print(s,'\n')
print(s.groupby(s).count(),'\n')   # s中，index中a、b对应的为one，c、d对应的为two，以Series来分组
print(df.groupby(s,axis = 1).sum())

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
------------------------------------------------------------
   one  two
0    1    5
1    9   13
2   17   21
3   25   29
------------------------------------------------------------
a      one
b      one
c      two
d      two
e    three
dtype: object

one      2
three    1
two      2
dtype: int64

   one  two
0    1    5
1    9   13
2   17   21
3   25   29

In [28]:
# 通过函数分组
df = pd.DataFrame(np.arange(16).reshape(4,4),
                  columns = ['a','b','c','d'],
                 index = ['abc','bcd','aa','b'])
print(df,'\n')
print(df.groupby(len).sum())  # 按照字母长度分组

      a   b   c   d
abc   0   1   2   3
bcd   4   5   6   7
aa    8   9  10  11
b    12  13  14  15

    a   b   c   d
1  12  13  14  15
2   8   9  10  11
3   4   6   8  10

In [29]:
# 分组计算函数方法
s = pd.Series([1, 2, 3, 10, 20, 30], index = [1, 2, 3, 1, 2, 3])
grouped = s.groupby(level=0)  # 唯一索引用.groupby(level=0)，将同一个index的分为一组 
print(grouped)
print(grouped.first(),'→ first：非NaN的第一个值\n')
print(grouped.last(),'→ last：非NaN的最后一个值\n')
print(grouped.sum(),'→ sum：非NaN的和\n')
print(grouped.mean(),'→ mean：非NaN的平均值\n')
print(grouped.median(),'→ median：非NaN的算术中位数\n')
print(grouped.count(),'→ count：非NaN的值\n')
print(grouped.min(),'→ min、max：非NaN的最小值、最大值\n')
print(grouped.std(),'→ std，var：非NaN的标准差和方差\n')
print(grouped.prod(),'→ prod：非NaN的积\n')
print(grouped.cumsum(),'→ prod：非NaN的积\n')

<pandas.core.groupby.SeriesGroupBy object at 0x00000000091992B0>
1    1
2    2
3    3
dtype: int64 → first：非NaN的第一个值

1    10
2    20
3    30
dtype: int64 → last：非NaN的最后一个值

1    11
2    22
3    33
dtype: int64 → sum：非NaN的和

1     5.5
2    11.0
3    16.5
dtype: float64 → mean：非NaN的平均值

1     5.5
2    11.0
3    16.5
dtype: float64 → median：非NaN的算术中位数

1    2
2    2
3    2
dtype: int64 → count：非NaN的值

1    1
2    2
3    3
dtype: int64 → min、max：非NaN的最小值、最大值

1     6.363961
2    12.727922
3    19.091883
dtype: float64 → std，var：非NaN的标准差和方差

1    10
2    40
3    90
dtype: int64 → prod：非NaN的积

In [15]:
# 多函数计算：agg()
df = pd.DataFrame({'a':[1,1,2,2],
                  'b':np.random.rand(4),
                  'c':np.random.rand(4),
                  'd':np.random.rand(4),})
print(df,'\n')
print(df.groupby('a').agg(['mean',np.sum]),'\n')  #按a来分组，列分别计算mean和sum，函数写法可以用str，或者np.方法
#print(df.groupby('a')['b'].agg({'result1':np.mean,'result2':np.sum})) # 可以通过list，dict传入，当用dict时，key名为columns
#重置index
print(df.groupby('a').agg(['mean',np.sum]).reset_index(),'\n')

   a         b         c         d
0  1  0.639165  0.641905  0.671404
1  1  0.003936  0.387169  0.539082
2  2  0.513683  0.828146  0.607663
3  2  0.169706  0.725606  0.442243

          b                   c                   d
       mean       sum      mean       sum      mean       sum
a
1  0.321551  0.643101  0.514537  1.029074  0.605243  1.210486
2  0.341695  0.683389  0.776876  1.553751  0.524953  1.049907

   a         b                   c                   d
          mean       sum      mean       sum      mean       sum
0  1  0.321551  0.643101  0.514537  1.029074  0.605243  1.210486
1  2  0.341695  0.683389  0.776876  1.553751  0.524953  1.049907

######## 本节课有作业，请查看 “课程作业.docx”  ########

In [ ]:
'''
【课程2.20】  分组转换及一般性“拆分-应用-合并”

transform / apply
 
'''

In [11]:
# 数据分组转换,transform
df = pd.DataFrame({'data1':np.random.rand(5),
                  'data2':np.random.rand(5),
                  'key1':list('aabba'),
                  'key2':['one','two','one','two','one']})

k_mean = df.groupby('key1').mean()
print(df,'\n')
print(k_mean,'\n')
# 通过分组、合并，得到一个包含均值的Dataframe
print(pd.merge(df,k_mean,left_on='key1',right_index=True).add_prefix('mean_'),'\n')  # .add_prefix('mean_')：添加前缀
print('-'*60)

print(df.groupby('key2').mean(),'\n') # 按照key2分组求均值
print(df.groupby('key2').transform(np.mean),'\n')   # index与df相同，data1、data2每个元素取对应分组列的均值(字符串不能进行计算)
print(df.join(df.groupby('key2').transform(np.mean),rsuffix='_mean'),'\n')  #合并

      data1     data2 key1 key2
0  0.856480  0.082198    a  one
1  0.516221  0.538505    a  two
2  0.764373  0.531776    b  one
3  0.155485  0.129266    b  two
4  0.159997  0.694357    a  one

         data1     data2
key1
a     0.510899  0.438353
b     0.459929  0.330521

   mean_data1_x  mean_data2_x mean_key1 mean_key2  mean_data1_y  mean_data2_y
0      0.856480      0.082198         a       one      0.510899      0.438353
1      0.516221      0.538505         a       two      0.510899      0.438353
4      0.159997      0.694357         a       one      0.510899      0.438353
2      0.764373      0.531776         b       one      0.459929      0.330521
3      0.155485      0.129266         b       two      0.459929      0.330521

------------------------------------------------------------
         data1     data2
key2
one   0.593617  0.436110
two   0.335853  0.333885

      data1     data2
0  0.593617  0.436110
1  0.335853  0.333885
2  0.593617  0.436110
3  0.335853  0.333885
4  0.593617  0.436110

      data1     data2 key1 key2  data1_mean  data2_mean
0  0.856480  0.082198    a  one    0.593617    0.436110
1  0.516221  0.538505    a  two    0.335853    0.333885
2  0.764373  0.531776    b  one    0.593617    0.436110
3  0.155485  0.129266    b  two    0.335853    0.333885
4  0.159997  0.694357    a  one    0.593617    0.436110

In [181]:
# 一般化Groupby方法：apply(func,parameter)
df = pd.DataFrame({'data1':np.random.rand(4),
                  'data2':np.random.rand(4),
                  'key1':list('aabc'),
                  'key2':['one','two','one','three']})
print(df.groupby('key1').apply(lambda x: x.describe())) #apply直接运行匿名函数，直接描述分组后的统计量
print('*'*60)
def f_df1(d,n):
    return(d.sort_index()[:n])  # f_df1函数：返回排序后的前n行数据
def f_df2(d,k1):
    return(d[k1])       # f_df2函数：返回分组后表的k1列，结果为Series，层次化索引
print(df.groupby('key1').apply(f_df1,1),'\n') # 参数直接写在后面，也可以为.apply(f_df,n = 2))
print('*'*60)
print(df.groupby('key1').apply(f_df2,'data2'),type(df.groupby('key1').apply(f_df2,'data2')))
print('*'*60)

               data1     data2
key1
a    count  2.000000  2.000000
     mean   0.070696  0.467503
     std    0.091658  0.342518
     min    0.005884  0.225306
     25%    0.038290  0.346405
     50%    0.070696  0.467503
     75%    0.103102  0.588602
     max    0.135508  0.709700
b    count  1.000000  1.000000
     mean   0.363319  0.914245
     std         NaN       NaN
     min    0.363319  0.914245
     25%    0.363319  0.914245
     50%    0.363319  0.914245
     75%    0.363319  0.914245
     max    0.363319  0.914245
c    count  1.000000  1.000000
     mean   0.429100  0.634973
     std         NaN       NaN
     min    0.429100  0.634973
     25%    0.429100  0.634973
     50%    0.429100  0.634973
     75%    0.429100  0.634973
     max    0.429100  0.634973
************************************************************
           data1     data2 key1   key2
key1
a    0  0.135508  0.225306    a    one
b    2  0.363319  0.914245    b    one
c    3  0.429100  0.634973    c  three

************************************************************
key1
a     0    0.225306
      1    0.709700
b     2    0.914245
c     3    0.634973
Name: data2, dtype: float64 <class 'pandas.core.series.Series'>
************************************************************

######## 本节课有作业，请查看 “课程作业.docx”  ########

In [ ]:
'''
【课程2.21】  透视表及交叉表

类似excel数据透视 - pivot table / crosstab
 
'''

In [185]:
# 透视表：pivot_table
# pd.pivot_table(data, values=None, index=None, columns=None, aggfunc='mean', fill_value=None, margins=False, dropna=True, margins_name='All')
# data：DF对象，values：要聚合的列，index：数据透视表index，columns：透视表columns，aggfunc：聚合方法，默认numpy.mean
date = ['2017-5-1','2017-5-2','2017-5-3']*3
rng = pd.to_datetime(date)    #创建timer Series
df = pd.DataFrame({'date':rng,
                   'key':list('abcdabcda'),
                  'values':np.random.rand(9)*10})
print(df)
print('-----'*20)
print(pd.pivot_table(df, values = 'values', index = 'date', columns = 'key', aggfunc=np.sum))  # 也可以写 aggfunc='sum'
print('-----'*20) # 这里就分别以date、key共同做数据透视，值为values：统计不同（date，key）情况下values的平均值
print(pd.pivot_table(df, values = 'values', index = ['date','key'], aggfunc=len)) # aggfunc=len(或者count)：计数

        date key    values
0 2017-05-01   a  1.735045
1 2017-05-02   b  5.609363
2 2017-05-03   c  1.064812
3 2017-05-01   d  5.246719
4 2017-05-02   a  7.890891
5 2017-05-03   b  1.454691
6 2017-05-01   c  8.610750
7 2017-05-02   d  2.246070
8 2017-05-03   a  9.876891
----------------------------------------------------------------------------------------------------
key                a         b         c         d
date
2017-05-01  1.735045       NaN  8.610750  5.246719
2017-05-02  7.890891  5.609363       NaN  2.246070
2017-05-03  9.876891  1.454691  1.064812       NaN
----------------------------------------------------------------------------------------------------
                values
date       key
2017-05-01 a       1.0
           c       1.0
           d       1.0
2017-05-02 a       1.0
           b       1.0
           d       1.0
2017-05-03 a       1.0
           b       1.0
           c       1.0

In [186]:
# 交叉表：crosstab，默认情况下，crosstab计算因子的频率表，比如用于str的数据透视分析
# pd.crosstab(index, columns, values=None, rownames=None, colnames=None, aggfunc=None, margins=False, dropna=True, normalize=False)

df = pd.DataFrame({'A': [1, 2, 2, 2, 2],
                   'B': [3, 3, 4, 4, 4],
                   'C': [1, 1, np.nan, 1, 1]})
print(df)
print('-----'*20)
print(pd.crosstab(df['A'],df['B']))  # 如果crosstab只接收两个Series，它将提供一个频率表，用A的唯一值，统计B唯一值的出现次数
print('-----'*20) 
print(pd.crosstab(df['A'],df['B'],normalize=True)) # normalize：将所有值除以值的总和进行归一化，默认False；
print('-----'*20)
print(pd.crosstab(df['A'],df['B'],values=df['C'],aggfunc=np.sum))# 由AB双因子频率表对C按照sum计算，当于以A和B界定分组，计算出每组中第三个系列C的值
print('-----'*20)
# aggfunc：可选，如果未传递values数组，则计算频率表，如果传递数组，则按照指定计算
print(pd.crosstab(df['A'],df['B'],values=df['C'],aggfunc=np.sum, margins=True))  # margins：布尔值，默认值False，添加行/列边距（小计）
print('-----'*20)

   A  B    C
0  1  3  1.0
1  2  3  1.0
2  2  4  NaN
3  2  4  1.0
4  2  4  1.0
----------------------------------------------------------------------------------------------------
B  3  4
A
1  1  0
2  1  3
----------------------------------------------------------------------------------------------------
B    3    4
A
1  0.2  0.0
2  0.2  0.6
----------------------------------------------------------------------------------------------------
B    3    4
A
1  1.0  NaN
2  1.0  2.0
----------------------------------------------------------------------------------------------------
B      3    4  All
A
1    1.0  NaN  1.0
2    1.0  2.0  3.0
All  2.0  2.0  4.0
----------------------------------------------------------------------------------------------------

######## 本节课有作业，请查看 “课程作业.docx”  ########

In [ ]:
'''
【课程2.22】  数据读取

核心：read_table, read_csv, read_excel
 
'''

In [198]:
# 读取普通分隔数据：read_table，read_table主要用于读取简单的数据，txt/csv
import os
os.chdir('/Users/lyn/Library/Mobile Documents/com~apple~CloudDocs/Documents/Jupyter')
#pd.read_table(filepath,sep='\t',delimiter=None,header='infer',names=None,index_col=None)
# delimiter：用于拆分的字符，也可以用sep：sep = ','
# index_col：指定某列为行索引，否则自动索引0, 1, .....
# header：用做列名的序号，默认为0（取第一行）
data1=pd.read_table('data1.txt',delimiter=',',header=0,index_col=1)  
print(data1)
#使用逗号分隔符的TXT table可以直接修改为csv打开

     va1  va3  va4
va2
2      1    3    4
3      2    4    5
4      3    5    6
5      4    6    7

In [199]:
# 读取csv数据：read_csv
data2 = pd.read_csv('data.csv',engine = 'python',encoding='utf-8')
print(data2.head())
# engine：使用的分析引擎。可以选择C或者是python。C引擎快但是Python引擎功能更加完备。
# encoding：指定字符集类型，即编码，通常指定为'utf-8'

                                                                                         City
Ngawa Prefecture 23  665.1  271.13  8.200000  102.224650 31.899410 2617.0 11   0 36.00  23.00
Aksu City        137 80.4   610.00  12.276712 80.263380  41.167540 1108.0 6547 0 33.94  23.00
Alxa League      85  150.0  322.58  24.200000 105.728950 38.851920 1673.0 1    0 36.00  23.00
Ngari            28  74.2   37.40   1.000000  80.105800  32.501110 4280.0 1    0 36.00  23.00
Anqin City       79  2127.8 1613.20 17.291781 117.034431 30.512646 13.0   2271 0 45.80  27.48

In [202]:
# 读取excel数据：read_excel
data3 = pd.read_excel('地市级党委书记数据库（2000-10）.xlsx',sheet_name='中国人民共和国地市级党委书记数据库（2000-10）',header=0)
print(data3.head(10))
# sheetname：返回多表使用sheetname=[0,1],若sheetname=None是返回全表 → ① int/string 返回的是dataframe ②而none和list返回的是dict
# header：指定列名行，默认0，即取第一行
# index_col：指定列为索引列，也可以使用u”strings”

   省级政区代码 省级政区名称  地市级政区代码 地市级政区名称    年份 党委书记姓名  出生年份  出生月份  籍贯省份代码 籍贯省份名称  \
0  130000    河北省   130100    石家庄市  2000    陈来立   NaN   NaN     NaN    NaN
1  130000    河北省   130100    石家庄市  2001    吴振华   NaN   NaN     NaN    NaN
2  130000    河北省   130100    石家庄市  2002    吴振华   NaN   NaN     NaN    NaN
3  130000    河北省   130100    石家庄市  2003    吴振华   NaN   NaN     NaN    NaN
4  130000    河北省   130100    石家庄市  2004    吴振华   NaN   NaN     NaN    NaN
5  130000    河北省   130100    石家庄市  2005    吴振华   NaN   NaN     NaN    NaN
6  130000    河北省   130100    石家庄市  2006    吴振华   NaN   NaN     NaN    NaN
7  130000    河北省   130100    石家庄市  2007    吴显国   NaN   NaN     NaN    NaN
8  130000    河北省   130100    石家庄市  2008    吴显国   NaN   NaN     NaN    NaN
9  130000    河北省   130100    石家庄市  2009     车俊   NaN   NaN     NaN    NaN

   ...   民族  教育 是否是党校教育（是=1，否=0） 专业：人文 专业：社科  专业：理工  专业：农科  专业：医科  入党年份  工作年份
0  ...  NaN  硕士              1.0   NaN   NaN    NaN    NaN    NaN   NaN   NaN
1  ...  NaN  本科              0.0   0.0   0.0    1.0    0.0    0.0   NaN   NaN
2  ...  NaN  本科              0.0   0.0   0.0    1.0    0.0    0.0   NaN   NaN
3  ...  NaN  本科              0.0   0.0   0.0    1.0    0.0    0.0   NaN   NaN
4  ...  NaN  本科              0.0   0.0   0.0    1.0    0.0    0.0   NaN   NaN
5  ...  NaN  本科              0.0   0.0   0.0    1.0    0.0    0.0   NaN   NaN
6  ...  NaN  本科              0.0   0.0   0.0    1.0    0.0    0.0   NaN   NaN
7  ...  NaN  硕士              1.0   0.0   1.0    0.0    0.0    0.0   NaN   NaN
8  ...  NaN  硕士              1.0   0.0   1.0    0.0    0.0    0.0   NaN   NaN
9  ...  NaN  本科              1.0   0.0   1.0    0.0    0.0    0.0   NaN   NaN

[10 rows x 23 columns]